html,
body {
  height: 100dvh;
}

html {
  background-color: var(--gray-100);
  color: var(--gray-900);
}

html.dark {
  background-color: var(--gray-900);
  color: var(--gray-100);
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: var(--text-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
  max-width: 1280px;
}

h1 {
  font-size: var(--text-h1);
  line-height: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: var(--text-h2);
  line-height: 2rem;
  font-weight: 400;
}

h3 {
  font-size: var(--text-h3);
  line-height: 1.75rem;
  font-weight: 400;
}

.title {
  font-size: var(--text-xl);
  line-height: 2.5rem;
  font-weight: 400;
}
