:root {
  /* Text Sizes */
  --text-h1: 56px;
  --text-h2: 44px;
  --text-h3: 36px;
  --text-h4: 28px;
  --text-h5: 24px;
  --text-h6: 16px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-utility: 12px;

  /* Colors */
  --gray-100: #f7f8fc;
  --gray-200: #ffffff;
  --gray-300: #f6f7f8;

  --gray-700: #1e3851;
  --gray-800: #102d44;
  --gray-900: #0d2438;

  --teal: #14b8a6;

  /* Shadows */
  --shadow-tiny: 2px 2px 0 #1e293b;
  --shadow-small: 4px 4px 0 #1e293b;
  --shadow-medium: 8px 8px 0 #1e293b;
  --shadow-large: 12px 12px 0 #1e293b;

  /* Spacing */
  --space: 4px;

  /* Border Radius */
  --rounded-sm: 4px;
  --rounded: 8px;

  /* Sizes */
  --login-box: 640px;
}
